---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro OdysseyTheme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Vista</h1>
			<p>
				Changsha Vista Trading Co., Ltd. is a professional exporter which can support One-Stop Service for clients worldwide. our company engaged in folding hand fan business.We offer good quality products, nice packing with customization,  and considerate service to achieve the satisfaction for various events.We      produce hand fan with durable material and also support to produce custom 
printed designs , our main product including bamboo hand fan, wooden hand 
fan, plastic hand fan, lace fan etc...We're working hard to supply more 
attractive products for customers worldwide. Sincerely welcome to contact us 
for enquiry!
			</p>
		</div>
    <picture slot="image-container">
      <img src="/assets/images/about/about-us.jpg" alt="关于 Vista 团队" loading="lazy" width="780" height="585" decoding="async" />
    </picture>
	</HeroSection>
  <TextSection narrow>
<h2>Trade Capacity</h2>
    <p>
At Changsha Vista Trading Co., Ltd., we pride ourselves on our robust trade 
capacity, which reflects our commitment to delivering high-quality products and services to our global clients. Our trade capacity is built on a foundation of 
rich experienced team members, stringent quality control, extensive market 
reach, and efficient logistics.
    </p>
<h2>Trade Capacity</h2>
    <p>Customer satisfaction is our top priority. We offer comprehensive pre-sales and after-sales services, ensuring a seamless experience for our clients. Our 
customer service team is available 12 Hours,7 days a week to address any 
inquiries and provide support. We continuously seek feedback to improve our 
services and maintain high customer satisfaction levels.</p>
  <h2>OEM & ODM Service</h2>  
    <p>
      Our company is dedicated to providing high-quality OEM  and ODM 
services to meet various customization needs. If you have any OEM or ODM needs, feel free to contact us. We are committed to providing you with the 
premium products and well around services to help your business thrive.
    </p>
     </TextSection>
</Layout>
